
<div class="subtitle">Contacts</div>


<% @contacts.each do |contact| %>
   <a href="/show_contact/<%= contact.id%>">
   <div class="button">
  <div class="contacts-new-text">
  <%= contact.first_name %> <%= contact.last_name %>
 </div>
  </div>
  </a>
  <% end %>
