

<ul>
<div class="button">
  <div class="contacts-text">
  <li><a href="/contacts">View all contacts</a></li><br>
  </div>


  <div class="button">
  <div class="contacts-new-text">
  <li><a href="/contacts/new">Add new contact</a></li>
  </div>

</ul>




