<h1>Welcome to <%= @crm_app_name %></h1>

<p>Magic CRM</p>
<p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <p>Add new contact</p>
  <!-- please complete me with links to other actions -->
</ul>