

<div class="button">
  <div class="contacts-text">
  <a href="/contacts">View all contacts</a><br>
  </div>
  </div>


  <div class="button">
  <div class="contacts-new-text">
  <a href="/contacts/new">Add new contact</a>
  </div>
  </div>






