<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title><%= @page_title %></title>
</head>

<body>

	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contacts">All Contacts</a></li>
				<li><a href="/contacts/new">Add New Contact</a></li>
			</ul>	
		</nav>
	</header>	

	<section class="bgwhite">

		<h1>Welcome to <%= @crm_app_name %></h1>

		<%= yield %>
	
	</section>
		

		<footer>

		</footer>


</body>
</html>
