<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <p>First Name</p><input type="text" name="first_name"><br>
  <p>Last Name</p><input type="text" name="last_name"><br>
  <p>Email</p><input type="text" name="email"><br>
  <p>Notes</p><input type="text" name="note"><br>
  <input type="submit" name="Submit"><br>
</form>