<div class="subtitle">Create New Contact</div>

<div class="inputs">

<form action="/contacts" method="post">
  <label>First Name</label><br><input type="text" name="first_name" style="width: 200px;" placeholder="Your First Name"><br>
  <label>Last Name<br></label><input type="text" name="last_name" style="width: 200px;" placeholder="Your Last Name"><br>
  <label>Email</label><br><input type="text" name="email" style="width: 200px;" placeholder="Your Email Address"><br>
  <label>Notes</label><br><input type="text" name="note" style="width: 200px;" placeholder="Special Comments"><br>
	<br>
  <button type="submit" value="submit">Add Your Contact</button>
</form>

</div>