<h1>Create new Contact</h1>

<div class="inputs">

<form action="/contacts" method="post">
  First Name<br><input type="text" name="first_name" style="width: 200px;"><br>
  Last Name<br><input type="text" name="last_name" style="width: 200px;"><br>
  Email<br><input type="text" name="email" style="width: 200px;"><br>
  Notes<br><input type="text" name="note" style="width: 200px;"><br>
  <input type="submit" name="Submit" style="width: 200px;"><br>
</form>

</div>